/**
 * File              : css/custom.css
 * Author            : Marcos Horro <marcos.horro@udc.gal>
 * Last Modified Date: Mar 18 Set 2018 16:01:31 CEST
 */
/* Custom styles
-------------------------------------------------- */
.social-icons li {
  display: inline;
}
.social-icons a {
  display: inline-block;
  margin-right: 10px;
  text-indent: -9999px;
}
.twitter {
  background-image: url(../img/twitter.png);
  width: 22px;
  height: 22px;
}
.facebook {
  background-image: url(../img/facebook.png);
  width: 22px;
  height: 22px;
}
.linkedin {
  background-image: url(../img/linkedin.png);
  width: 22px;
  height: 22px;
}
.orcid {
  background-image: url(../img/orcid.png);
  width: 22px;
  height: 22px;
}
.researchgate {
  background-image: url(../img/researchgate.png);
  width: 22px;
  height: 22px;
}
.scholar {
  background-image: url(../img/scholar.png);
  width: 22px;
  height: 22px;
}
.instagram {
  background-image: url(../img/instagram.png);
  width: 22px;
  height: 22px;
}
.flickr {
  background-image: url(../img/flickr.png);
  width: 22px;
  height: 22px;
}

body {
    overflow-y: scroll;
}

.bg-vt {
  background-color: #6d0a49 !important;
}

.display-5{font-size:2rem;font-weight:300;line-height:1.2}
.display-6{font-size:1.4rem;font-weight:300;line-height:1.2}
.navbar-toggler {
  text-align: center;

}

.fa-bars {
  color: #fff;
}

.nav-link {
  color: #fff;
}
.nav-link:hover{
  color: #ffa8d5;
}

a {
  color: #e10879;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* timelinelist
-----------------------------------------------------*/

ul.clist {
    list-style-type: none;
    position: relative;
    z-index: 10;
}
ul.clist > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.clist > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #e10879;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

/* timelinelist
-----------------------------------------------------*/

ul.timelinelist {
    list-style-type: none;
    position: relative;
    z-index: 10;
}
ul.timelinelist:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timelinelist > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timelinelist > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #e10879;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    z-index: 10;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-subtitle {
    margin-top: 0;
    color: inherit;
    font-weight: 300;
}

.timeline-subsubtitle {
    margin-top: 0;
    color: inherit;
    font-weight: 200;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}

/* Remove default bullets */
ul, .MyTreeView {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.MyTreeView {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}